@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6672FB;
  --secondary: #EFF3FB;
}

body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.active-link {
  @apply text-white font-bold flex items-center gap-3 relative;
}

.active-link::before {
  content: '';
  @apply w-1 h-[100%] bg-white absolute -left-3 rounded-e-3xl;
}

.inactive-link {
  @apply flex items-center gap-3;
}

.btn {
  background-color: var(--secondary);
  border-radius: 0.375rem;
  align-items: center;
  justify-content: center;
  /* rounded-md */
  display: flex;
  padding-left: 0.9rem;
  /* px-2 */
  padding-right: 0.9rem;
  /* px-2 */
  padding-top: 0.25rem;
  /* py-1 */
  padding-bottom: 0.25rem;
  /* py-1 */
  gap: 0.5rem;
  /* gap-2 */
}

InputOTP>InputOTPSlot {
  @apply border-[#656ED3] p-1
}

.navigate-home-button {
  background: "url('/logo-light.png') no-repeat center/contain";
  border: "none"
}